canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  z-index: 99;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  color: white;
  margin-bottom: 18rem;
}

blockquote {
  background: black;
  color: white;
  grid-column: 2 / span 5;
  padding: 2rem;
  font-size: 2rem;
}

section {
  grid-column: 2 / span 6;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  padding: 5rem;
}

h1,
h2,
h3,
h4 {
  color: steelblue;
  font-family: Jazz LET, fantasy;
}
